<!--
 * @Author: Xu Bai
 * @Date: 2020-06-29 22:23:24
 * @LastEditors: Xu Bai
 * @LastEditTime: 2020-06-29 22:31:09
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="firstname" @keyup="getFullName">
        <input type="text" v-model="lastname" @keyup="getFullName">
        <input type="text" v-model="fullname">
    </div>


    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                firstname: "",
                lastname: "",
                fullname: "",
            },
            methods: {
                getFullName() {
                    this.fullname = this.firstname + "·" + this.lastname;
                },
            },
        });
    </script>
</body>

</html>